.App {
  text-align: center;
}

.Li-header{
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: left;
  align-content: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top-left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Label-header{/* this handles the styling of the inputboxes, as without elements would not fit on the screen */
  background-color: #282c34;
  display: flex; /* flexible display for smaller screen sizes */
  flex-direction: row;
  align-items: center;
  color: white;
  margin-right: 10px; 
  font-size: 12px;
}
.App-link {
  color: #61dafb;
}

.flex-form {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  flex-wrap: wrap;
}

